.gridView {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style-type: none;
}

@media (max-width: 768px) {
  .gridView {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .gridView {
    grid-template-columns: 1fr;
  }
}
