.listView {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 800px;
  list-style-type: none;
  gap: 16px;
}

.divider {
  border: none;
  height: 1px;
  color: lightgray;
  background-color: lightgray;
}

@media (max-width: 600px) {
  .listView {
    grid-template-columns: 1fr;
  }
  .divider {
    display: none;
  }
}
